.goalList {background-color: #fff;}
.goalList li {
  display: flex;
  align-items: center;
  padding: 20px;
}
.goalList li::before {
  display: block;
  content: '';
  width: 4px;
  height: 52px;
  margin-right: 16px;
}
.goalList li.red::before {background-color: #FFA98E;}
.goalList li.yellow::before {background-color: #F4C753;}
.goalList li.green::before {background-color: #5FC47C;}
.goalList li.blue::before {background-color: #5CAFC1;}
.goalList li.purple::before {background-color: #A98DD7;}

.goalTit {flex-grow: 1;}
.btnAddGoal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin: 40px auto;
  font-size: 2rem;
  color: #707070;
}
.btnAddGoal .icoPlusGray {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 24px;
  border: 1px solid #cecece;
  background: url('../img/ico_plus_gray.png') no-repeat center;
  background-size: 24px 24px;
  background-color: #fff;
}
.btnAddGoal span.caption {
  display: block;
  padding-top: 4px;
  font-size: 12px;
}
.goalInput, .dDayInput {width: 100%;}
.indexInput {
  width: 100%;
  margin-top: 8px;
}
.indexInput ul {
  display: flex;
  width: 100%;
}
.indexInput li {
  position: relative;
  width: 20%;
}
.indexInput label {
  display: block;
  width: 40px;
  height: 40px;
  padding-left: 40px;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 20px;
  overflow: hidden;
}
.indexInput .red label {
  background-color: #ffddd2;
  border-color: #ffa98e;
}
.indexInput .yellow label {
  background-color: #ffeec1;
  border-color: #f4c753;
}
.indexInput .green label {
  background-color: #c6f2d2;
  border-color: #5fc47c;
}
.indexInput .blue label {
  background-color: #bdeaf4;
  border-color: #5cafc1;
}
.indexInput .purple label{
  background-color: #e3d3fd;
  border-color: #a98dd7;
}
.indexInput input[type="radio"] {
  position: absolute;
  top: 14px;
  left: 14px;
  opacity: 0;
}
.deleteGoal.popup {
  padding-top: 64px;
  height: 200px;
}
.deleteGoal.popup p {
  font-size: 20px;
  text-align: center;
}
/* 스케줄 플래너 */
.scheduleList {position: relative;}
.hour {display: flex;}
.timeTit {
  width: 36px;
  padding: 0 4px;
  font-size: 1rem;
  text-align: right;
  color: #202020;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-color: #f6f6f6;
}
.timeTit span {display: block;}
.time {flex-grow: 1;}
.halfMinute {
  height: 30px;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}
.todo {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 29px;
  padding: 0 8px;
}
.todo h4 {margin-right: 4px;}
.todo.red {background-color: #ffddd2;}
.todo.yellow {background-color: #ffeec1;}
.todo.green {background-color: #c6f2d2;}
.todo.blue {background-color: #bdeaf4;}
.todo.purple {background-color: #e3d3fd;}