.goalList {
  background-color: #fff;
  animation-name: bgColorChange;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes bgColorChange {
  0% {
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.goalList li {
  display: flex;
  align-items: center;
  padding: 20px;
  animation-name: indexInputLoad;
  animation-duration: .2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes indexInputLoad {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.goalList li:nth-child(1) {
  animation-delay: .2s;
}
.goalList li:nth-child(2) {
  animation-delay: .25s;
}
.goalList li:nth-child(3) {
  animation-delay: .3s;
}
.goalList li:nth-child(4) {
  animation-delay: .35s;
}
.goalList li:nth-child(5) {
  animation-delay: .4s;
}


.goalList li::before {
  display: block;
  content: '';
  width: 4px;
  height: 52px;
  margin-right: 16px;
}
.goalList li.red::before {background-color: #FFA98E;}
.goalList li.yellow::before {background-color: #F4C753;}
.goalList li.green::before {background-color: #5FC47C;}
.goalList li.blue::before {background-color: #5CAFC1;}
.goalList li.purple::before {background-color: #A98DD7;}

.goalTit {flex-grow: 1;}
.btnAddGoal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin: 40px auto;
  padding-right: 10px;
  font-size: 2rem;
  color: #707070;
  animation-name: btnDissolve;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes btnDissolve {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.btnAddGoal .icoPlusGray {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 24px;
  border: 1px solid #cecece;
  background: url('../img/ico_plus_gray.png') no-repeat center;
  background-size: 24px 24px;
  background-color: #fff;
}
.btnAddGoal span.caption {
  display: block;
  padding-top: 4px;
  font-size: 12px;
}
.goalInput, .dDayInput {width: 100%;}
.indexInput {
  width: 100%;
  margin-top: 8px;
}
.indexInput ul {
  display: flex;
  width: 100%;
}
.indexInput li {
  position: relative;
  width: 20%;
}
.indexInput input[type="radio"] {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: -10;
}
.indexInput label {
  /* position: relative; */
  display: block;
  width: 40px;
  height: 40px;
  padding-left: 40px;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}
.indexInput .red label {
  background-color: #ffddd2;
  border-color: #ffa98e;
}
.indexInput .red input[type="radio"]:checked + label {
  background-color: #ffa98e;
}
.indexInput .yellow label {
  background-color: #ffeec1;
  border-color: #f4c753;
}
.indexInput .yellow input[type="radio"]:checked + label {
  background-color: #f4c753;
}
.indexInput .green label {
  background-color: #c6f2d2;
  border-color: #5fc47c;
}
.indexInput .green input[type="radio"]:checked + label {
  background-color: #5fc47c;
}
.indexInput .blue label {
  background-color: #bdeaf4;
  border-color: #5cafc1;
}
.indexInput .blue input[type="radio"]:checked + label {
  background-color: #5cafc1;
}
.indexInput .purple label{
  background-color: #e3d3fd;
  border-color: #a98dd7;
}
.indexInput .purple input[type="radio"]:checked + label {
  background-color: #a98dd7;
}




.deleteGoal.popup, .deleteTodo.popup, .delShecTodo.popup {
  padding-top: 64px;
  height: 200px;
  font-size: 1.4em;
  text-align: center;
}
.deleteGoal.popup p {
  font-size: 20px;
  text-align: center;
}
/* 스케줄 플래너 */
.hour {display: flex;}
.timeTit {
  width: 36px;
  padding: 0 4px;
  font-size: 1rem;
  text-align: right;
  color: #202020;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-color: #f6f6f6;
}
.timeTit span {display: block;}
.time {flex-grow: 1;}
.halfMinute {
  position: relative;
  height: 30px;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}
.todo {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 29px;
  padding: 0 8px;
  z-index: 10;
  animation-name: todoRanding;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform-origin: left center;
}
@keyframes todoRanding {
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}
/* 하은 날짜 추가 */
#schedule .selectDate {
  display: none;
  list-style: none;
}

header .selectDate {
  position: relative;
}

header .selectDate input{
  position: fixed;
  top: 15px;
  right: 17px;
  width: 40%;
  max-width: 175px;
  height: 32px;
  padding-right: 10px;
  border: 1px solid #cecece;
  /* background: url('../img/ico_arrow.png') no-repeat right; */
  background-size: 24px 24px;
  z-index: 100;
}

.todo h4 {margin-right: 10px;}
.todo.red {
  background-color: #ffddd2;
  border-top: 1px solid #ffa98e;
  border-bottom: 1px solid #ffa98e;
}
.todo.yellow {
  background-color: #ffeec1;
  border-top: 1px solid #f4c753;
  border-bottom: 1px solid #f4c753;
}
.todo.green {
  background-color: #c6f2d2;
  border-top: 1px solid #5fc47c;
  border-bottom: 1px solid #5fc47c;
}
.todo.blue {
  background-color: #bdeaf4;
  border-top: 1px solid #5cafc1;
  border-bottom: 1px solid #5cafc1;
}
.todo.purple {
  background-color: #e3d3fd;
  border-top: 1px solid #a98dd7;
  border-bottom: 1px solid #a98dd7;
}

.shec {
  height: 160px;
  width: 300px;
  padding: 5px 15px;
  font-size: 1.4em;
  text-align: center;
}
.shec span {
  display: block;
  text-align: center;
  padding: 23px;
}
.shec span.editShec {
  border-bottom: 1px solid #cecece;
}

/* 하은 추가 */
.editShecTodo .impSelect label.btnImp {
  background-image: none;
}